/* common ------------------------------------ */

html {
    font-size: 18px;
    font-family: sans-serif;
}

body {
    font-size: 1rem;
    line-height: 1.5rem;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* input ------------------------------------- */

.input {

}

/* output ------------------------------------ */

.output {
    
}
